<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
	<div>
		<h4 class="mb-3 mb-md-0">Ambulances</h4>
	</div>
	<div class="d-flex align-items-center flex-wrap text-nowrap">
		<button class="btn btn-primary" (click)="openAddModal(lgModal)">+ Add Ambulance</button>
	</div>
</div>

<div class="row">
	<div class="col-12 col-xl-12 grid-margin stretch-card">
		<div class="card overflow-hidden">
			<div class="card-body">
				<div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
					<h6 class="card-title mb-0"></h6>
				</div>
				<div class="row">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="mb-3">
                                <label class="form-label">Vehicle No</label>
                                <input type="text" class="form-control" [(ngModel)]="filters.vehicleNo" placeholder="Vehicle No">
                            </div>
                        </div>
						<div class="col-sm-4">
                            <div class="mb-3">
                                <label class="form-label">Hospital</label>
                                <select class="form-select form-select-sm mb-3" [(ngModel)]="filters.hospital">
                                    <option selected value="">ALL</option>
                                    <option *ngFor="let hospital of hospitals" value="{{ hospital.id }}">{{ hospital.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label class="form-label">Type</label>
                                <select class="form-select form-select-sm mb-3" [(ngModel)]="filters.type">
                                    <option selected value="">ALL</option>
                                    <option value="Small">Small</option>
                                    <option value="Normal">Normal</option>
                                    <option value="Large">Large</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="flex-lg-row-reverse float-end d-flex align-items-center flex-wrap text-nowrap">
                            <button class="mx-2 btn btn-dark" (click)="reset()">Reset</button>
                            <button class="btn btn-primary" (click)="filter()">Filter</button>
                        </div>
                    </div>
                </div>
				<hr />

				<div class="row align-items-start">
					<div class="col-md-12">
						<div class="table-responsive">
							<ngx-datatable
								class="bootstrap"
								[rows]="ambulances"
								[loadingIndicator]="loadingIndicator"
								[columnMode]="ColumnMode.force"
								[footerHeight]="0"
								rowHeight="auto"
								[externalSorting]="false"
							>

								<ngx-datatable-column [sortable]="false" name="Ambulance No" prop="vehicleNo"></ngx-datatable-column>
								<ngx-datatable-column [sortable]="false" name="Type" prop="type"></ngx-datatable-column>
								<ngx-datatable-column [sortable]="false" name="Hospital" prop="hospital.name" ></ngx-datatable-column>

								<ngx-datatable-column [sortable]="false" name="Action" prop="action">
                                    <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex"
                                                 let-value="value"
                                                 let-group="group" let-rowHeight="rowHeight">
                                        <button nz-button nzType="link" class="border" (click)="openAddModal(lgModal, row)"><i  class="feather icon-edit"></i></button>
                                        <button nz-button nzType="link" class="border" (confirm)="deleteAmbulance(row)" [swal]="{ title: 'Are you sure!',text:' you want to remove this...? This cannot be undone', showCancelButton: true }"
                                                ><i  class="feather icon-trash"></i></button>

                                    </ng-template>
                                </ngx-datatable-column>

							</ngx-datatable>
							<div *ngIf="0 === ambulances.length" class="my-2 ng-star-inserted text-black-50 text-center">
								No data to display
							</div>

						</div>
					</div>
					<div class="col-md-5 d-flex justify-content-md-end"></div>
				</div>
				<div class="flot-wrapper"></div>
			</div>
		</div>
	</div>
</div>


<!--modal-->
<ng-template #lgModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add/Edit Ambulance</h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <form [formGroup]="form"  (submit)="saveData()" class="forms-sample ng-untouched ng-pristine ng-valid">
        <div class="modal-body">

            <div class="form-group col-span-12 sm:col-span-12">
                <label for="vehicleNo">Vehicle No</label>
                <input type="text" class="form-control" id="vehicleNo"
                        required
                        [(ngModel)]="vehicleNo" name="vehicleNo" formControlName="vehicleNo">
            </div>

			<div class="form-group col-span-12 sm:col-span-12">
                <label for="type">Type</label>
                <select class="form-select form-select-sm mb-3" id="type" [(ngModel)]="type" formControlName="type">
					<option value="Small">Small</option>
					<option value="Normal">Normal</option>
					<option value="Large">Large</option>
				</select>
            </div>

			<div class="form-group col-span-12 sm:col-span-12">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address"
                        required
                        [(ngModel)]="address" name="address" formControlName="address">
            </div>

			<div class="form-group col-span-12 sm:col-span-12">
                <label for="tpNumber">Tp Number</label>
                <input type="text" class="form-control" id="tpNumber"
                        required
                        [(ngModel)]="tpNumber" name="tpNumber" formControlName="tpNumber">
            </div>

            <div class="form-group col-span-12 sm:col-span-12">
                <label for="hospital">Hospital</label>
                <select class="form-control" [(ngModel)]="hospital" formControlName="hospital">
                    <option *ngFor="let hospital of hospitals" value="{{ hospital.id }}">{{ hospital.name }}</option>
                </select>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid" >Save</button>
        </div>
    </form>
</ng-template>
